<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/sta.css">
    <link rel="icon" href="../public/img/3.png" type="image/x-icon">
    <title>IOT &#128405; ʕ´•ᴥ•`ʔ</title>
    <script src="http://localhost:3002/socket.io/socket.io.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
</head>
<body>
    <div class="LimE-container">
        <div class="row">
            <div class="col-sm-2 the-left">
                <section class="nav-bar">
                    <div>  
                        <ul class="nav-items">
                            <div class="menu"><i id="" class="fa-solid fa-house-laptop ic1"></i></div>
                            <li>
                                <a href="./">
                                    <span class="icon2 icon-1"><i class="ri-dashboard-fill"></i></span>
                                    <span class="sidebar--item">Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="./room">
                                    <span class="icon2 icon-2"><i class="ri-home-4-fill"></i></span>
                                    <span class="sidebar--item">Rooms</span>
                                </a>
                            </li>
                            <li>
                                <a href="./devices">
                                    <span class="icon2 icon-3"><i class="ri-device-fill"></i></span>
                                    <span class="sidebar--item">Devices</span>
                                </a>
                            </li>
                            <li>
                                <a href="./security">
                                    <span class="icon2 icon-4"><i class="ri-shield-keyhole-fill"></i></span>
                                    <span class="sidebar--item">Security</span>
                                </a>
                            </li>
                            <li>
                                <a id="abc" href="./statistics">
                                    <span class="icon2 icon-5"><i class="ri-bar-chart-box-fill"></i></span>
                                    <span class="sidebar--item" style="color: black;">Statistics</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="nav-bottom-items">
                            <li>
                                <a href="#">
                                    <span class="icon2 icon-7"><i class="ri-logout-box-r-line"></i></span>
                                    <span class="sidebar--item">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>






            <div class="col the-right">
                <a class="iot" href="./">SMART FARM</a>
            </div>
        </div>
    </div>

<script src="../public/js/index.js"></script>
</body>
</html>