.nav-bar ul li::before{
    content: '';
    position: absolute;
    top: 150px;
    right:0;
    width: 50px;
    height: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow: 10px 10px 0 6px #f7f7f7;
    
}
.nav-bar ul li::after{
    content: '';
    position: absolute;
    top: 250px;
    right:0;
    width: 50px;
    height: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 10px -10px 0 6px #f7f7f7;
}
.mg{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.mg1{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    /*width: 100%;*/
}
/*.mg1.active{
    width: 75%;
}*/
.m1{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.ptm1{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.ptm2{
    margin: 0px 0px 0px 0px;
    padding: 15px 0px 0px 0px;
    height:auto;
}
.ptm3{
    height: auto;
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 15px 15px;
}
.ptc1{
    background-color: #ffffff;
    margin: 0px 15px 15px 15px;
    padding: 20px 20px 20px 20px;
    height: 170px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(54, 52, 54, 0.315);
}
.ptc2{
    background-color: #fff;
    height: 170px;
    margin: 0px 15px 30px 15px;
    padding: 15px 15px 15px 15px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(54, 52, 54, 0.315);
}
.ptc3{
    position: relative;
    background-color: #ffffff;
    height: 370px;
    margin: 0px 15px 15px 15px;
    padding: 30px 30px 30px 30px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(54, 52, 54, 0.315);
}
.ptc3::before{
    content: '';
    position: absolute;
    top:9%;
    left: 60%;
    width: 1px;
    height: 300px;
    background-color:#e6e6e6;
}
.ptl{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 50%;
}
.bt{
    height: 33%;
}
.icbt{
    font-size: 40px;
    margin: 0px 0px 0px 0px;
    display: flex;
}
.icbt2{
    font-size: 40px;
    margin: 0px 0px 0px -5px;

}
.ptc4{
    background-color:#fff;
    margin: 0px 0px 0px 0px;
    padding: 30px 30px 30px 30px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(54, 52, 54, 0.315);
}
.mg2{
    margin: -87px 0px 0px -10px;
    /*display: none;
}
.mg2.active{
    display: block;*/
}
.ptm4{
    background-color: #dadada;
    height: auto;
    margin: auto;
    padding: 15px 15px 30px 15px;
    border-radius: 60px;
}
.ptc5{
    height: 177px;
    margin: 15px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.avt{
    height: 100px;
    width: 100px;
}
.ptc6{
    background-color: #ffffff;
    height: 450px;
    margin: 0px 0px 0px 0px;
    padding: 15px 15px 15px 15px;
    border-radius: 60px;
    box-shadow: 0px 0px 5px rgba(54, 52, 54, 0.315);
}
/* .water{
    position: relative;
    width: 260px;
    height: 260px;
    margin: 30px 0px 0px 90px;
    border-radius: 43% 57% 30% 70% / 52% 30% 70% 48%;
    box-shadow: inset 10px 10px 10px #e100ff0c, 15px 25px 10px #00000019,inset -10px -10px 15px #ffffffe5;
    transition: 7s;
}
.water.active{
    position: relative;
    width: 250px;
    height: 250px;
    margin: 40px 0px 0px 60px;
    border-radius: 50% 50% 50% 50% / 62% 50% 30% 38%;
    box-shadow: inset 10px 10px 10px #0000000c, 15px 25px 10px #00000019,inset -10px -10px 15px #ffffffe5;
    transition: 7s;
}
.water::before, .water::after{
    position: absolute;
    background-color: #fff;
    content: '';
    border-radius: 65% 35% 53% 47% / 64% 65% 35% 36%;
    width: 20px;
    height: 20px;
    top: 50px;
    left: 50px;
}
.water::after{
    transform: translate(18px, -25px)
                scale(0.7)
                rotate(20deg);
} */
.mes{
    color: #586c8a;
    overflow: hidden;
    white-space: nowrap;
    animation: 
    typing 5s steps(200, end) forwards;
    width: 0;
}
    @keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
.mes-note p{
    margin: 0px;
}
.p1{
    animation-delay:0;
}
.p2{
    animation-delay:5s;
}
.p3{
    animation-delay:10s;
}
.p4{
    animation-delay:15s;
}
.p5{
    animation-delay:20s;
}
.mes-note{
    margin: -15px 0px 0px 15px;
}
.val-size{

    font-size:x-large;
    margin: -20px 0px 0px 0px;
    display: flex;
    justify-content: flex-end; 
    /* justify-content: center; */
}
.val-light{
    font-size:xx-large;
    margin: -20px 0px 0px 0px;
    /* justify-content: center; */
}
.ptcc{
    height: 16cm;
    margin-bottom: 10px;
}
@media screen and (max-width:1620px) {
    .mg1{
        width: 75%;
        transition: 1s;
    }
    .mg2{
        margin-top: 0px ;
        
    }
    .water{
        display: none;
    }
    .mg1.active{
        width: 100%;
        transition: 1s;
        z-index: 1;
    }
    .mg2.active{
        display:none;
    }
    #li{
        display: none;
    }
    #switch{
        display: flex;
        justify-content: flex-start;
    }
    .val-size{
        font-size:15px;
    }
    .ptcc{
        width: 80%;
    }
}
@media screen and (max-width:1124px) {
    .nav-bar.active{
        width: 100px;
        display: flex;
        align-content: flex-end; 
    }
    .nav-bar.active .sidebar--item{
        display: none;
    }
    .nav-bar.active .ic1{
        margin: 30px 0px 100px 0px;
    }
    .nav-bar.active .nav-items a{
        padding: 10px 10px 10px 0px;
        margin: 0px 0px 10px 10px;
        transition: .5s;
    }
    .the-left.active{
        width: 130px;
    }
    
    .mg2{
        display: none;
    }
    .mg1{
        width: 100%;
    }
    .val-size{
        font-size:large;
    }
    .ptcc{
        max-width: 70%;
    }
}
@media screen and (max-width:991px) {
    .ptc3{
        margin: -15px 15px 30px 15px ;
    }
    .ptcc{
        display: none;
    }
    .val-size{
        font-size:xx-large;
    }
}
@media screen and (max-width:767px) {
    .ptc3::before{
        content: '';
        position: absolute;
        top:35px;
        left: 50%;
        width: 1px;
        height: 300px;
        background-color:#e6e6e6;
    }
    .val-light{
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    .ic-light{
        display: none;
    }
    
    
}
@media screen and (max-width:575px) {
    .bt{
        display: none;
    }
    .ptc3::before{
        display: none;
    }
    .val-light{
        margin: 0px;
    }
    .mes{
        display:none ;
    }
    .val-size{
        font-size:large;
    }
}