body{
  background-color: rgba(25, 25, 26, 0.212);
  font-family:Verdana;
  font-weight: bold;
  font-size: 100%;
}
.LimE-container{
  border-radius: 60px 60px 60px 60px;
  background-color:#f7f7f7;
  max-width: 1930px;
}
.the-left{
  width: 130px;
  height: auto;
  border: 0px solid rgba(54, 52, 54, 0.315);
  box-shadow: 0px 0px 0px rgba(54, 52, 54, 0.315);
  /* background-color: #f7f7f7; */
  margin: 0px 0px 0px 0.6%;
  padding: 15px 15px 15px 15px;
  z-index: 2;
  border-radius: 60px 0px 0px 60px;
}
.the-left.active{
  width: 321px;
}
.nav-bar{
  position: relative;
  box-shadow: -5px 5px 5px rgba(54, 52, 54, 0.315);
  height: 24cm;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
  padding: 20px 0px 40px 0px;
  border-radius: 60px;
  /* background-color:rgba(255, 0, 200, 0.5); */
  margin: 0px 0px 0px 0px; background-image: linear-gradient(to bottom left,rgb(195, 0, 255),rgba(255, 121, 121, 0.788));
}
.nav-bar.active{
  align-content: normal;
}
.nav-bar .sidebar--item{
  display: none;
}
.nav-bar.active .sidebar--item{
  display:block;
}
.nav-bar.active .ic1{
  margin: 30px 20px 100px 0px;
}
.ic1{
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 30px 0px 100px 0px;
  padding:0px 0px 0px 0px;
  transition: 0.3s;
}
.ic2{
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 30px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  transition: 0.3s;
}
.ic-temp{
  color: rgb(207, 0, 0);
}
.ic-humi{
  color: rgb(0, 166, 207);
}
.ic-light{
  color: rgb(233, 233, 0);
}
.nav-bar .nav-items a{
  padding: 10px 10px 10px 0px;
  margin: 0px 0px 10px 10px; 
  transition: 0.3s;   
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.nav-items a, 
.nav-bottom-items a{
  display:flex;
  align-items:center;
  margin: 0px 0px 10px 0px;
  font-size: 100%;
  color: #000;
  padding: 10px 10px 10px 20px;
  border-radius: 60px 0px 0px 60px;
  transition: 0.3s;
}
.nav-bar.active .nav-items a{
  display:flex;
  align-items:center;
  margin: 0px 0px 10px 0px;
  font-size: 100%;
  color: #000;
  padding: 10px 10px 10px 20px;
  border-radius: 60px 0px 0px 60px;
  transition: 0.3s;
}
.nav-bar.active .nav-items a:hover{
  color: rgb(255, 255, 255);
}
.icon2{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px 0px 30px;
  font-size: 20px;
}
.nav-items a:hover, 
.nav-bottom-items a:hover{
  color: rgb(255, 255, 255);
}
.nav-items a:active, 
.nav-bottom-items a:active{
  color: black;
}
#abc{
  background-color: #f7f7f7;
}
.cl-red{color: rgb(255, 0, 0) ;}
.the-right{
  max-width: 1800px;
  height: auto;
  border: 0px solid rgba(54, 52, 54, 0.315) ;
  box-shadow: 0px 0px 0px rgba(54, 52, 54, 0.315);
  /* background-color: #f7f7f7; */
  margin: 0px 0.6% 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 60px 60px 0px;
}
.iot{
  color:rgba(132, 0, 255, 0.562);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5cm;
  width: 40%;
  font-weight: bold;
  border-radius: 60px;
  margin: 15px 15px 30px 15px;
  padding: 0px 0px 0px 0px;
  box-shadow: 5px 5px 5px rgba(54, 52, 54, 0.315);
}
#switch{
  display: flex;
  justify-content:space-between;
}
.switch-toggle{
  width: 100px;
  height: 40px;
  cursor: pointer;
  appearance: none;
  background: rgb(165, 165, 165);
  border-radius: 20px;
  position: relative;
  border: 5px inset rgb(167, 167, 167);
  box-shadow: inset 0px 0px 20px rgb(0, 0, 0);
}
.switch-toggle::before{
  position:absolute;
  content: "";
  width: 80%;
  height: 30%;
  border-radius: 50%;
  top: 33%;
  left: 10%;
  border-radius: 30px;
  box-shadow: inset 0px 0px 30px rgba(56, 56, 56, 0.685);
  transition: 0.5s;
  background-color: rgb(71, 71, 71);
  transition: 0.5s;
}
.switch-toggle::after{
  content: "";
  width: 55%;
  height: 100%;
  position: absolute;
  background: rgb(202, 202, 202);
  box-shadow: inset 0px 0px 30px rgba(56, 56, 56, 0.685);
  top:0px;
  left: 0px;
  border-radius: 30px;
  transition: 0.5s;
}
.switch-toggle:checked::before{
  background-color:rgb(204, 0, 255);
  transition: 0.5s;
}
.switch-toggle:checked::after{
  left: 45%;
  background-color:rgb(247, 0, 255);
  transition: 0.5s;
}
@media screen and (max-width:1620px) {
}
@media screen and (max-width:1124px) {
.nav-bar.active{
  width: 100px;
  display: flex;
  align-content: flex-end; 
}
.nav-bar.active .sidebar--item{
  display: none;
}
.nav-bar.active .ic1{
  margin: 30px 0px 100px 0px;
}
.nav-bar.active .nav-items a{
  padding: 10px 10px 10px 0px;
  margin: 0px 0px 10px 10px;
  transition: .5s;
}
.the-left.active{
  width: 130px;
}

}
@media screen and (max-width:991px) {

}
@media screen and (max-width:767px) {

}
@media screen and (max-width:575px) {
.nav-bar ul li::before{
  display: none;
}
.nav-bar ul li::after{
  display: none;
}
.the-left{
  position: fixed;
  border-radius: 60px 60px 60px 60px;
  background-color: #f7f7f7;
}
.nav-bar{
  height: 100px;
  padding: 0px 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  box-shadow: 2px 2px 5px rgba(54, 52, 54, 0.315);
}
.the-right{
  position: relative;
  padding: 135px 5px 0px 10px;
}
.the-right::after{
  content: 'logout';
  position: absolute;
  top:15px;
  right: 30px;;
  width: 80px;
  height: 50px;
  border-radius: 50px;
  padding: 10px 10px 10px 10px;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px rgba(54, 52, 54, 0.315);
}
.nav-items a, 
.nav-bottom-items a{
  display: none;
}
.nav-bar.active{
  display: flex;
  padding: 0px 10px 0px 0px;
  height: 15cm;
}
.nav-bar.active .nav-items a{
  display: block;
  margin: auto;
}
#abc{
  border-radius: 50px;
  width: 60px;
}
.iot{
  display: none;
}
footer{
  margin-left: 30px;
  margin-bottom: 20px;
}
.LimE-container{
  margin: 0px 0px 0px 10px;
}
}
